@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;1,300;1,400&display=swap');

.navbar{
    background-color: #c2a2a2;
    
}
a{
    color: rgb(207, 26, 26)important;
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: 45px;
}