
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;1,300;1,400&family=Preahvihear&display=swap');
body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        .sidebar {
            width: 200px;
            height: 100%;
            background-color: #3a3b3b;
            position: fixed;
            top: 0;
            left: 0;
            color: white;
            padding: 33px;
        }

        .sidebar h1 {
            font-size: 20px;
            margin-bottom: 20px;
        }

        .sidebar ul {
            list-style-type: none;
            padding: 0;
        }

        .sidebar ul li {
            margin-bottom: 10px;
        }

        .sidebar ul li a {
            margin-top: 300px;
            color: #f1ecec !important;
            text-decoration: none;
            
        }

        .sidebar ul li a:hover {
            color: #ffffff;
        }

        .content {
            margin-left: 200px;
            padding: 20px;
        }
   
    
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color:#fff;
        }
        
        .table-container {
            max-width: 800px;
            margin: 50px auto;
        }
        
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        
        thead th, tbody td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: left;
        }
        
        thead th {
            background-color: #f2f2f2;
        }
        
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        
        ul li {
            margin-bottom: 5px;
        }

        .person{
            border-radius: 100%;
            width: 200px;
            height: 200px;
            border: 1px solid #000;
        }
        .order{
            color:rgb(207, 53, 53);
        }
        .th{
            font-family: 'IBM Plex Sans', sans-serif !important;
            font-family: 'Preahvihear', sans-serif !important;
        }