.imagy{
    
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.linky:hover{
    color: blue !important;
    text-decoration: underline !important;
    font-weight: 800;
    transition: 0.5s !important;
}
.linky{
    color: #64237e !important;
}