
  
  @import url('https://fonts.googleapis.com/css?family=Fjalla+One|Montserrat:300,400,700,800|Open+Sans:300');
  
  .pagination-link {
    display: inline-block;
    padding: 8px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    text-align: center !important;

  }
  
  /* Style for the current page link */
  .current-page {
    display: inline-block;
    padding: 8px;
    margin: 5px;
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
    border-radius: 3px;
    cursor: pointer;
  }

 .product-content {
  border: 2px solid #dfe5e9;
  margin-bottom: 20px;
  margin-top: 12px;
  background: #fff;
  padding: 4px;
      -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
}

.product-content .carousel-control.left {
  margin-left: 0
}






/* Product Card */
.product-card{
  background-color: #fff;
  border: 1px solid #ecf1ed;
  margin-bottom: 24px;
  border-radius: 6px;
  box-shadow: 20px 20px 30px  rgb(0,0,0,0.02);
  transition: 0.2s;
}
.product-card:hover{
  box-shadow: 20px 20px 30px  rgb(0,0,0,0.06);

}
.product-card a{
  text-decoration: none;
}
.product-card .stock{
  position: absolute;
  color: #fff;
  border-radius: 4px;
  padding: 3px 10px;
  margin: 8px;
  font-size: 12px;
}
.product-card .product-card-img{
  max-height: 260px;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}
.product-card .product-card-img img{
  width: 100%;
}
.product-card .product-card-body{
  padding: 10px 10px;
}
.product-card .product-card-body .product-brand{
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 4px;
  color: #937979;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.product-card .product-card-body .product-name{
  font-size: 20px;
  font-weight: 600;
  color: #000;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.product-card .product-card-body .selling-price{
  font-size: 22px;
  color: #000;
  font-weight: 600;
  margin-right: 8px;
}
.product-card .product-card-body .original-price{
  font-size: 18px;
  color: #937979;
  font-weight: 400;
  text-decoration: line-through;
}
.product-card .product-card-body .btn1{
  border: 1px solid;
  margin-right: 3px;
  border-radius: 0px;
  font-size: 12px;
  margin-top: 10px;
}
.stock{
  background-color: #964099;
  margin: 0.7rem !important;
}
.add-to-cart{
  background-color: #964099 !important;
}
.add-to-cart:hover{
  background-color: #40995e !important;
  
}
/* Product Card End */


.dropdown {
  position: relative;
  display: inline-block;
}
.dropbtn{
  background-color: #776775;
  border: none;
  padding: 10px;
  color: #fff;
  margin-bottom: 30px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 46px;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}