
  
  @import url('https://fonts.googleapis.com/css?family=Fjalla+One|Montserrat:300,400,700,800|Open+Sans:300');
  
  .pagination-link {
    display: inline-block;
    padding: 8px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    text-align: center !important;

  }
  
  /* Style for the current page link */
  .current-page {
    display: inline-block;
    padding: 8px;
    margin: 5px;
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
    border-radius: 3px;
    cursor: pointer;
  }
  
 .Page{
  display: flex !important;
  justify-content: center !important;
  /* align-items: ; */
 }

 .page-link{
  margin: 8px;
 }
 .smsm{
  
  margin : auto;
 
 }