
#hero{
  background-image: url('../../../../../public/img/hero4.png');
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% center 0;
padding : 0 80px ;
display: flex;
flex-direction: column;
justify-content:center;
align-items:  start ;
}
#hero h4{
  padding-bottom: 15px;
}

#hero h1{
  color: #310e3f;
}
#hero button{
  background-image: url('/img/button.png');
  background-color: transparent;
  color:  #310e3f;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat ;
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
  border: none;
}